<?xml version="1.0" encoding="utf-8"?>

<!-- web.config 変換の詳細については、http://go.microsoft.com/fwlink/?LinkId=125889 を参照してください。 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    次の例では、"MyDB" という値を持つ "name" 属性が "Match" ロケーターで
    見つかった場合にのみ、"SetAttributes" 変換によって "connectionString" の
    値が "ReleaseSQLServer" を使用するように変更されます。

    <connectionStrings>
      <add name="MyDB"
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True"
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--

      次の例では、web.config ファイルの <customErrors> セクション全体が
      "Replace" 変換によって置き換えられます。
      <system.web> ノードには customErrors セクションが 1 つしかないため、
      "xdt:Locator" 属性を使用する必要はありません。

      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    >
    -->
    <!--<sessionState mode="StateServer" stateConnectionString="tcpip=192.168.57.1:42424" cookieless="false" timeout="60" xdt:Transform="Replace"/>-->
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1" xdt:Transform="Replace" >
      <dependentAssembly>
        <assemblyIdentity name="Oracle.DataAccess" publicKeyToken="89b483f429c47342" />
        <bindingRedirect oldVersion="1.102.3.0" newVersion="2.112.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings xdt:Transform="Replace">
    <!-- ================================================================ -->
    <!-- DB設定                                                           -->
    <!-- ================================================================ -->
    <TRC_W_PWT_ProductView.Properties.Settings>
      <setting name="TRC_W_PWT_ProductView_KTAuthLogin_ktauthLogin" serializeAs="String">
        <value>http://133.253.80.5:8080/KTService2/services/ktauthLogin</value>
      </setting>
      <setting name="TRC_W_PWT_ProductView_SrvCore_Core" serializeAs="String">
        <value>http://localhost:18081/CORE_S_C_WebService/services/Core</value>
      </setting>
    </TRC_W_PWT_ProductView.Properties.Settings>
    <KTFramework.Dao.DataAccessSettings>
      <!--SELECT結果をログ出力する場合にはTrueを設定-->
      <setting name="SelectDataOutput" serializeAs="String">
        <value>False</value>
      </setting>
      <!--SELECT実行文をログ出力する場合にはTrueを設定-->
      <setting name="SelectSQLOutput" serializeAs="String">
        <value>False</value>
      </setting>
    </KTFramework.Dao.DataAccessSettings>
    <KTFramework.Dao.CommonDBSettings>
      <!-- 業務DB接続設定ファイルパス -->
      <setting name="GIA" serializeAs="String">
        <value>C:\conf\GiaConnection_TRC_W_PWT_ProductView.xml</value>
      </setting>
      <!-- 作業指示DB接続設定ファイルパス -->
      <setting name="PIC" serializeAs="String">
        <value>C:\conf\PicConnection_TRC_W_PWT_ProductView.xml</value>
      </setting>
      <!-- コモンレールDB接続設定ファイルパス -->
      <setting name="CRE" serializeAs="String">
        <value>C:\conf\CreConnection_TRC_W_PWT_ProductView.xml</value>
      </setting>
    </KTFramework.Dao.CommonDBSettings>
    <KTFramework.Common.Dao.CommonDaoSettings>
      <!-- DB接続モード [Release|Test|Develop] -->
      <setting name="DBMode" serializeAs="String">
        <value>Release</value>
      </setting>
      <!-- 接続先DBリスト [PIC|GIA|CRE|IMG|PRL|MIG] 複数指定はカンマ区切り -->
      <setting name="TargetDB" serializeAs="String">
        <value>PIC,GIA,CRE</value>
      </setting>
    </KTFramework.Common.Dao.CommonDaoSettings>
    <!-- ================================================================ -->
    <!-- ログ設定                                                         -->
    <!-- ================================================================ -->
    <KTFramework.Common.LoggerSettings>
      <!-- 追記有無 True:追記する False:新規作成する -->
      <setting name="AppendToFile" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- ログファイル排他処理 True:排他 False:複数プロセス同時書込可 -->
      <!-- Trueにした場合は、実行中にログファイルをテキストエディタ等で開かないように注意してください -->
      <setting name="ExclusiveLock" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- ログ出力フォルダ -->
      <!-- 実際の出力先は {BasePath}/{アセンブリ名}/{年月日}/ です  -->
      <setting name="BasePath" serializeAs="String">
        <value>C:/log/</value>
      </setting>
      <!-- ログファイル名 -->
      <!-- 実際のログファイル名は {FileName}.yyyyMMdd.log です(RollingStr=Daily)の場合 -->
      <setting name="FileName" serializeAs="String">
        <value/>
      </setting>
      <!-- ログローテーション周期 [Yearly|Monthly|Daily|Hourly] -->
      <setting name="RollingStr" serializeAs="String">
        <value>Daily</value>
      </setting>
      <!-- ファイルサイズによるローテーション True:する False:しない(=全て保存) -->
      <setting name="SizeBackupRotation" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- 最大ファイルサイズ(MB) -->
      <setting name="MaxFileSizeMB" serializeAs="String">
        <value/>
      </setting>
      <!-- 最大バックアップファイル数(1以上) -->
      <setting name="MaxSizeRollBackups" serializeAs="String">
        <value/>
      </setting>
      <!-- ログ出力レベル [Debug|Info|Notice|Warn|Error|Fatal] -->
      <setting name="LevelStr" serializeAs="String">
        <value>Info</value>
      </setting>
      <!-- フィルタリング使用有無 -->
      <setting name="UseFiltering" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- フィルタリング判定(True:Key+Valueが一致で拾う False:不一致で拾う) -->
      <setting name="FilteringAcceptionOnMatch" serializeAs="String">
        <value/>
      </setting>
      <!-- フィルタリング条件キー(各アプリケーションの動作仕様に従う) -->
      <setting name="FilteringKey" serializeAs="String">
        <value/>
      </setting>
      <!-- フィルタリング条件値(各アプリケーションの動作仕様に従う) -->
      <setting name="FilteringValue" serializeAs="String">
        <value/>
      </setting>
      <!-- デバッグ出力有無 -->
      <setting name="UseDebugOut" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- イベントログ出力有無 -->
      <setting name="UseEventLog" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- コンソールログ出力有無 -->
      <setting name="UseConsoleOut" serializeAs="String">
        <value>False</value>
      </setting>
    </KTFramework.Common.LoggerSettings>
    <!-- ================================================================ -->
    <!-- アプリケーション共通設定                                         -->
    <!-- ================================================================ -->
    <KTFramework.Common.App.CommonAppSettings>
      <!-- メール使用有無 -->
      <setting name="UseMail" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- FTP使用有無 -->
      <setting name="UseFtp" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- DB使用有無 -->
      <setting name="UseDB" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- 共通DAOユーティリティの使用有無(使用時はGIAに強制接続します) -->
      <setting name="UseCommonDao" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- WEBアプリフラグ -->
      <setting name="IsWebApp" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- FAアプリフラグ(ログに対象設備を出力) -->
      <setting name="IsFAApp" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- 二重起動チェック -->
      <setting name="CheckMultipleBoot" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- 稼働日/非稼働日チェック -->
      <setting name="CheckWorkday" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- 稼働日/非稼働日実行許可フラグ(True:稼働日に実行許可 False:非稼働日に実行許可) -->
      <setting name="ExecuteOnWorkday" serializeAs="String">
        <value>True</value>
      </setting>
      <!-- 起動抑止時間帯チェック -->
      <setting name="CheckExecutableTime" serializeAs="String">
        <value>False</value>
      </setting>
      <!-- 起動抑止時間設定(実行許可開始時間 HH:MM:SS) -->
      <setting name="StartTime" serializeAs="String">
        <value />
      </setting>
      <!-- 起動抑止時間設定(実行許可終了時間 HH:MM:SS) -->
      <setting name="EndTime" serializeAs="String">
        <value />
      </setting>
    </KTFramework.Common.App.CommonAppSettings>
    <!-- ================================================================ -->
    <!-- WEBサービスクライアント共通設定                                  -->
    <!-- ================================================================ -->
    <KTFramework.Web.Client.ServiceSettings>
      <!-- WebサービスサーバURL(主系) -->
      <setting name="ServiceUrl1" serializeAs="String">
        <value>http://www.tsukuba.local/</value>
      </setting>
      <!-- WebサービスサーバURL(従系) -->
      <setting name="ServiceUrl2" serializeAs="String">
        <value>http://localhost:8080</value>
      </setting>
      <!-- 認証サービス利用サーバ(1:主系 2:従系) -->
      <setting name="AuthServiceSelect" serializeAs="String">
        <value>0</value>
      </setting>
      <!-- 認証サービスパス -->
      <setting name="AuthService" serializeAs="String">
        <value/>
      </setting>
      <!-- 基幹サービス利用サーバ(1:主系 2:従系) -->
      <setting name="CoreServiceSelect" serializeAs="String">
        <value>1</value>
      </setting>
      <!-- 基幹サービスパス -->
      <setting name="CoreService" serializeAs="String">
        <value>CORE_S_C_WebService/services</value>
      </setting>
      <!-- アプリケーションメインサービス利用サーバ(1:主系 2:従系) -->
      <setting name="My1ServiceSelect" serializeAs="String">
        <value>0</value>
      </setting>
      <!-- アプリケーションサブサービス利用サーバ(1:主系 2:従系) -->
      <setting name="My2ServiceSelect" serializeAs="String">
        <value>0</value>
      </setting>
      <!-- アプリケーションサブサービス利用サーバ(1:主系 2:従系) -->
      <setting name="My3ServiceSelect" serializeAs="String">
        <value>0</value>
      </setting>
      <!-- アプリケーションメインサービスパス(未使用) -->
      <setting name="My1Service" serializeAs="String">
        <value/>
      </setting>
      <!-- アプリケーションサブサービスパス(未使用) -->
      <setting name="My2Service" serializeAs="String">
        <value/>
      </setting>
      <!-- アプリケーションサブサービスパス(未使用) -->
      <setting name="My3Service" serializeAs="String">
        <value/>
      </setting>
    </KTFramework.Web.Client.ServiceSettings>
  </applicationSettings>
</configuration>